[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extension"]
	path = extension
	url = https://github.com/knoxfighter/arcdps-extension.git
[submodule "unofficial_extras"]
	path = unofficial_extras
	url = https://github.com/Krappa322/arcdps_unofficial_extras_releases.git
